STACK_NAME=vortex
DOMAIN=example.com

# Postgres
POSTGRES_DB=vortex
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me

# Traefik / Let's Encrypt
EMAIL=admin@example.com
